<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Denzil Godwin Griffiths - Portfolio</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
	<header class="heading section-background">
		<figure><a href="#"><img src="/assets/img/logo.png" class="logo" alt="Logo of website"></a></figure>
		<h1 class="heading-element">
			<span id="dev-name">
				Denzil Griffiths
			</span>
		</h1>
	</header>
	<hr id="header-separator">
	<main class="main-section">
		<article class="main-description section-background">
			<p id="description">
				I'm a front end ninja and a freelancer! I love programming, football and science.
			</p>
		</article>
		<section class="personal-projects-section section-background">
			<h2 class="sub-heading">Featured Work</h2>
			<div class="personal-projects">
				<div class="personal-project-block">
					<figure class="project-img-block">
						<img class="project-img" srcset="/assets/img/dalviroo-200w.jpg 200w,
						/assets/img/dalviroo.jpg 300w" sizes="(max-width: 360px) 200px,
						(min-width: 361px) 300px"
						 src="/assets/img/dalviroo.jpg" alt="Dalviroo app link">
					</figure>
					<span class="project-title">Dalviroo</span>
					<a class="project-link" target="_blank" href="https://github.com/Denzilgri/dalviroo">A real time app for chefs</a>
				</div>
				<div class="personal-project-block">
					<figure class="project-img-block">
						<img class="project-img" srcset="/assets/img/pixel-art-200w.jpg 200w,
						/assets/img/pixel-art.jpg 300w" sizes="(max-width: 360px) 200px,
						(min-width: 361px) 300px"
						 src="/assets/img/pixel-art.jpg" alt="Pixel art app link">
					</figure>
					<span class="project-title">Pixel Art Grid</span>
					<a class="project-link" target="_blank" href="https://github.com/Denzilgri/pixelArtGrid">A canvas for creating
						pixel art</a>
				</div>
				<div class="personal-project-block">
					<figure class="project-img-block">
						<img class="project-img" srcset="/assets/img/3d-u3d-200w.jpg 200w,
						/assets/img/3d-u3d.jpg 300w" sizes="(max-width: 360px) 200px,
						(min-width: 361px) 300px"
						 src="/assets/img/3d-u3d.jpg" alt="U3D converter link">
					</figure>
					<span class="project-title">U3D converter</span>
					<a class="project-link" target="_blank" href="https://github.com/Denzilgri/U3D">An app for converting u3d files to
						3dpdf files</a>
				</div>
			</div>
		</section>
	</main>
	<footer id="footer">
		<p>Built with <span id="heart">&hearts;</span> by <a id="author-name" href="https://github.com/Denzilgri">Denzil Godwin
			Griffiths</a></p>
	</footer>
</body>

</html>
